<div style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= image_path "ps-wallpaper.jpg"%>')">
<div class="container">
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card-trip flex mb-3">
      <div class="card-trip">
        <%= cl_image_tag @video_game.photo.key %>
      </div>
    </div>
  </div>

<div class="col-sm-6 card-trip flex-end mb-3">
  <div class="card-trip-infos py-2">
    <div>
      <h2><%= @video_game.title %></h2>
      <p><strong>Year: </strong> <%= @video_game.year %></p>
      <p><strong>Console: </strong><%= @video_game.console %></p>
      <p><strong>Genre: </strong> <%= @video_game.genre %></p>
      <p><strong>Publisher: </strong> <%= @video_game.publisher %></p>
      <p><strong>Summary: </strong> <%= @video_game.summary %></p>
      <h2 class="card-trip-pricing">£<%= @video_game.price %> per day</h2>
      <%= link_to "Book this game", new_video_game_request_path(@video_game), class: "btn btn-flat" %>
    </div>
  </div>
</div>
      <%# <%= link_to "Back to Video Games", video_games_path, class: "btn btn-flat" %>

<div class="card-trip">
  <h3><strong>Reviews</strong></h3>
  <p><%= link_to "Add review", new_video_game_review_path(@video_game), class: "btn btn-flat" %></p>
  <ul class="list-group">
    <% @video_game.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
      <%= link_to "Delete", review_path(review), class: "link-dark text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
    <% end %>
  </ul>
</div>
</div>
</div>
