<div style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= cl_image_path "ps-wallpaper_ymzyxn.jpg"%>')">
<div class="container">
  <%= simple_form_for [@video_game, @request], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
    <%= f.submit 'Request this game', class: "btn btn-flat"%>
  <% end %>
<br>

  <%= link_to "Back", video_games_path, class: "btn btn-flat" %>
</div>
</div>
